<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "/crud_app/static/css/auth.css">
    <title>Login</title>
</head>
<body>
    <form action="/crud_app/reset_link" method="POST">
        <h3 class="header">Forgot Password</h3>
        <input type="email" name="email" placeholder="Enter Email of your Account" class="input-field" required>
        <span class="message"><?= htmlspecialchars(isset($message) ? $message : NULL); ?></span>
        <div class="btn-group">
            <button class="form-btn" name="forgot-password" value="forgot">Submit</button>
        </div>
    </form>

    <script src="/crud_app/static/js/auth.js"></script>
</body>
</html>